{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Welcome</title>
    <!-- Favicon icon -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="{% static 'js/script.js' %}"></script>
</head>

<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="#">
			<h1>Create Account</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your email for registration</span>
			<input type="text" placeholder="Name" />
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<button>Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form method="POST">
      {% csrf_token %}
			<h1>Simple Addition App</h1>
			<span> </span>
      <input type="number" name="a" placeholder="Enter Number 1" />
			<input type="number" name="b" placeholder="Enter Number 2" />
			<a href="#">Click Submit to find the answer</a>
			<button type="submit" name="add">Submit</button>
      <p id="result">Result = {{result}}</p>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, {{request.user}}</h1>
				<p>This is for testing only.</p>
				<button class="ghost" id="signUp">
          <a href="{% url 'log_out' %}">Sign Out</a>
          </button>
			</div>
		</div>
	</div>
</div>

<footer>
</footer>